.vtree-menu-list {
  padding-left: 16px;
}
.vtree-menu-list .vtree-menu-item {
  min-height: 32px;
}
.vtree-menu-list .vtree-menu-item .vtree-menu-title {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
}
.vtree-menu-toggle-con {
  display: inline-block;
  padding: 4px;
}
.vtree-menu-toggle-con .vtree-menu-toggle-btn {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #CCC;
  border-radius: 2px;
  transform: translateY(2.5px);
}
.vtree-menu-list .vtree-menu-item:not(:has(.vtree-menu-toggle-con)) {
  padding-left: 24px;
}

/* opened */
.vtree-menu-list .vtree-menu-item > .vtree-menu-list {
  display: none;
}
.vtree-menu-list .vtree-menu-item.opened > .vtree-menu-list {
  display: block;
}
.vtree-menu-list .vtree-menu-item.opened > .vtree-menu-toggle-con > .vtree-menu-toggle-btn {
  background-color: dodgerblue;
}

/* depth */
.vtree-menu-list .vtree-menu-item.tree-level-1 {
  border-bottom: 1px solid #ccc;
}